<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
                                                                             <!--  jis page ko send karna hai layout key ander pass karna hai --> 
<!--  here i am using base.html sa replace karna hai  -->
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
    <!--  tu ham kiya karengye aboutnew.html ko send karengye aapne base.html key aander --> 
     <section>
         <h1>this is new about section</h1>
         <p>
            This classic fable (story) is about a very slow tortoise
             (turtle) and a speedy hare (rabbit). 
             The tortoise challenges the hare to a race.
             The hare laughs at the idea that a tortoise 
             could run faster than him, but the race ends 
             with a surprising result.
         </p>
     
     </section>
</body>
</html>

 <!-- step (3) -->
 <!-- <refrance key liye tilde wala sihen(~) used karna hai  -->