<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
      <h1>about learn code </h1>
      <h1>how to learn code in java</h1>
      
      <h1 th:text="${name}"></h1>
      <h1 th:text="${ #strings.toUpperCase(name)}"></h1>
      <!-- <p>length of the name is<span th:text="{ #strings.length(name)}"></span> </p> -->
      <h2 th:text="${currentDate}"></h2>
      <h2>  name of the owner<span th:text="${name}"></span> </h2> 
</body>
</html>